project_id = "replace-with-your-gcp-project-id"

region = "europe-west4"
zone   = "europe-west4-a"

name_prefix = "poc-sst-soa"

machine_type           = "n1-standard-8"
gpu_type               = "nvidia-tesla-t4"
gpu_count              = 1
attach_gpu_accelerator = true

boot_disk_size_gb  = 200
boot_image_project = "deeplearning-platform-release"
boot_image_family  = "common-cu129-ubuntu-2204-nvidia-580"
install_gpu_driver = false

inference_port = 8091
